 :root {
  --primary: #67e7e3;
  --dark: #171617;
  --accent: #e8923d;
  --light: #cfd9db;
  --muted: #8ca4ae;
}

.App {
  padding: 2rem;
  text-align: center;
  background-color: var(--light);
  color: var(--dark);
}
